<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
    <strong>Label bu: </strong> {{data.label}} - <strong>Value bu: </strong> {{data.data[0]}}
  </li>
</ul>


<div style="display: block" *ngIf='signalRService.data'>
  <canvas baseChart
          [datasets]='signalRService.data'
          [labels]='chartLabels'
          [options]='chartOptions'
          [legend]='chartLegend'
          [chartType]='chartType'
          [colors]='colors'
          (chartClick)="chartClicked($event)"></canvas>
</div>
<br><br>

<google-chart *ngIf="chart.data"
    [title]="chart.title"
    [type]="chart.type"
    [data]="chart.data"
    [options]="chart.options">
</google-chart>


